name: Update Trailhead Stats

on:
  schedule:
    - cron: "0 0 * * *" # daily
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Trailhead Stats
        uses: nabondance/Trailhead-Stats@v2.0.0
        with:
          trailhead-username: "azispakaya"
          display-type: "card"
          display-file: "README.md"
          file-format: "md"
